//标题粗细
//标题字体粗细
COMMON_TITLE_WEIGHT = 500;

//颜色
//背景色
BACKGROUND_COLOR = #bba784;
//字体颜色
FONT_COLOR = #161422;
//高亮颜色
HIGHT_LIGHT_COLOR = #ff5a2c;
//高亮背景颜色
HIGHT_LIGHT_BGCOLOR = #f5f5f5;
//灰色
GRAY_COLOR = #8a8a8a;
//下边框颜色
BORDER_BOTTOM_COLOR = #d9d9d9;
//错误颜色
ERROR_COLOR = #e45362;
//正确颜色
CORRECT_COLOR = #52cc67;

RED_COLOR = #ed5565;

//字体大小
//标题字体大小
LABEL_TITLE_FONT_SIZE = 1.4em;
SUB_TITLE_FONT_SIZE = 1.2em;
MIN_TITLE_FONT_SIZE = 1em;

CONTENT_FONT_SIZE = 0.9em;

SUMMARY_FONT_SIZE = 0.75em;

